In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Clustering using K-Means_Xinghe Huang').getOrCreate()

In [3]:
df = spark.read.load("./Customer list.csv",format="csv",header="true")

In [4]:
df.show()

+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
|first_name|   last_name|gender|past_3_years_bike_related_purchases|       DOB| _c5|Age|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|tenure|             address|postcode|state|  country|property_valuation|Rank|   Value|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
|   Chickie|     Brister|  Male|                                 86|12-07-1957|1957| 64|     General Manager|        Manufacturing|    Mass Customer|                 N|     Yes|    14|    45 Shopko Center|    4500|  QLD|Australia|                 6|   1| 1.71875|
|     Morly|      Genery|  Male|                                 69|12-07-1958|1958| 63| Structural Engineer|             Property|    Mass Customer|                 N|      No|    16|   14 Mccormick Park|    2113|  NSW|Australia|                11|   1| 1.71875|
|   Ardelis|   Forrester|Female|                                 10|12-07-1959|1959| 62|Senior Cost Accou...|   Financial Services|Affluent Customer|                 N|      No|    10| 5 Colorado Crossing|    3505|  VIC|Australia|                 5|   1| 1.71875|
|    Lucine|       Stutt|Female|                                 64|12-07-1960|1960| 61|Account Represent...|        Manufacturing|Affluent Customer|                 N|     Yes|     5|  207 Annamark Plaza|    4814|  QLD|Australia|                 1|   4|1.703125|
|   Melinda|      Hadlee|Female|                                 34|12-07-1961|1961| 60|   Financial Analyst|   Financial Services|Affluent Customer|                 N|      No|    19|   115 Montana Place|    2093|  NSW|Australia|                 9|   4|1.703125|
|     Druci|     Brandli|Female|                                 39|12-07-1962|1962| 59|Assistant Media P...|        Entertainment|   High Net Worth|                 N|     Yes|    22|89105 Pearson Ter...|    4075|  QLD|Australia|                 7|   6|1.671875|
|  Rutledge|       Hallt|  Male|                                 23|12-07-1963|1963| 58|Compensation Analyst|   Financial Services|    Mass Customer|                 N|      No|     8|   7 Nevada Crossing|    2620|  NSW|Australia|                 7|   6|1.671875|
|    Nancie|        Vian|Female|                                 74|12-07-1964|1964| 57|Human Resources A...|               Retail|    Mass Customer|                 N|     Yes|    10|    85 Carioca Point|    4814|  QLD|Australia|                 5|   8| 1.65625|
|      Duff|   Karlowicz|  Male|                                 50|12-07-1965|1965| 56|  Speech Pathologist|        Manufacturing|    Mass Customer|                 N|     Yes|     5|      717 West Drive|    2200|  NSW|Australia|                10|   8| 1.65625|
|   Barthel|      Docket|  Male|                                 72|12-07-1966|1966| 55|Accounting Assist...|                   IT|    Mass Customer|                 N|     Yes|    17|80 Scofield Junction|    4151|  QLD|Australia|                 5|  10|1.640625|
|  Rockwell|      Matson|  Male|                                 94|12-07-1967|1967| 54|Programmer Analyst I|               Retail|   High Net Worth|                 N|      No|     3|  3682 Crowley Point|    4573|  QLD|Australia|                 6|  10|1.640625|
|   Wheeler|     Winward|  Male|                                 48|12-07-1968|1968| 53|Environmental Spe...|        Manufacturing|    Mass Customer|                 N|      No|    10| 3 Golden Leaf Point|    3216|  VIC|Australia|                 8|  12|   1.625|
|      Olag|        null|  Male|                                 60|12-07-1969|1969| 52|Human Resources M...|   Telecommunications|    Mass Customer|                 N|      No|     9|   0484 North Avenue|    2032|  NSW|Australia|                11|  13|1.609375|
|     Melba|    Spellacy|Female|                                 38|12-07-1970|1970| 51|        VP Marketing|               Health|    Mass Customer|                 N|      No|     4|0591 Anzinger Circle|    2232|  NSW|Australia|                10|  14| 1.59375|
|    Mandie|      Feares|Female|                                 32|12-07-1971|1971| 50| Clinical Specialist|               Health|    Mass Customer|                 N|      No|    10|      39 Kedzie Pass|    4053|  QLD|Australia|                 8|  14| 1.59375|
|     Dukie|       Swire|  Male|                                 88|12-07-1972|1972| 49|                null|        Manufacturing|Affluent Customer|                 N|     Yes|     5|   64 Granby Parkway|    2500|  NSW|Australia|                 8|  16|  1.5625|
|  Marcelia|   Monkleigh|Female|                                 61|12-07-1973|1973| 48| Associate Professor|        Manufacturing|    Mass Customer|                 N|     Yes|     4|  610 Swallow Street|    4051|  QLD|Australia|                 6|  17|1.546875|
| Winnifred|Beswetherick|Female|                                 83|12-07-1974|1974| 47|             Actuary|   Financial Services|    Mass Customer|                 N|      No|    14|       61 4th Street|    3040|  VIC|Australia|                10|  17|1.546875|
|    Odilia|       Quick|Female|                                 65|09-11-1938|1938| 83|     General Manager|        Manufacturing|Affluent Customer|                 N|     Yes|    11|    1550 Russell Way|    2222|  NSW|Australia|                11|  19| 1.53125|
|     Karly|   Willavize|Female|                                  2|12-08-1954|1954| 67|    Internal Auditor|        Manufacturing|   High Net Worth|                 N|      No|    12|     193 North Point|    2190|  NSW|Australia|                10|  19| 1.53125|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
only showing top 20 rows

In [10]:
df.describe().show()

+-------+----------+--------------------+------+-----------------------------------+----------+------------------+------------------+-------------------+---------------------+-----------------+------------------+--------+----------------+-------------+-----------------+-----+---------+------------------+------------------+------------------+
|summary|first_name|           last_name|gender|past_3_years_bike_related_purchases|       DOB|               _c5|               Age|          job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|          tenure|      address|         postcode|state|  country|property_valuation|              Rank|             Value|
+-------+----------+--------------------+------+-----------------------------------+----------+------------------+------------------+-------------------+---------------------+-----------------+------------------+--------+----------------+-------------+-----------------+-----+---------+------------------+------------------+------------------+
|  count|      1000|                 971|  1000|                               1000|       983|               983|              1000|                894|                 1000|             1000|              1000|    1000|            1000|         1000|             1000| 1000|     1000|              1000|              1000|              1000|
|   mean|      null|                null|  null|                             49.836|      null|1970.6215666327569| 50.37843336724313|               null|                 null|             null|              null|    null|          11.388|         null|         3019.227| null|     null|             7.397|           498.819|0.8817140937500003|
| stddev|      null|                null|  null|                 27.796686129101058|      null| 16.99680162758875|16.996801627588727|               null|                 null|             null|              null|    null|5.03714490846043|         null|848.8957671554818| null|     null|2.7588044515699197|288.81099707426495| 0.293524507951904|
|    min|     Abbie|             A'field|Female|                                  0|01-01-1948|              1938|           #VALUE!|Account Coordinator|          Argiculture|Affluent Customer|                 N|      No|               0|  0 Bay Drive|             2000|  NSW|Australia|                 1|                 1|              0.34|
|    max|    Zondra|de la Valette Par...|     U|                                 99|31-12-1978|              2002|               n/a|   Web Developer IV|                  n/a|    Mass Customer|                 N|     Yes|               9|998 Gale Park|             4879|  VIC|Australia|                 9|               997|           1.71875|
+-------+----------+--------------------+------+-----------------------------------+----------+------------------+------------------+-------------------+---------------------+-----------------+------------------+--------+----------------+-------------+-----------------+-----+---------+------------------+------------------+------------------+

In [11]:
df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- past_3_years_bike_related_purchases: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_industry_category: string (nullable = true)
 |-- wealth_segment: string (nullable = true)
 |-- deceased_indicator: string (nullable = true)
 |-- owns_car: string (nullable = true)
 |-- tenure: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- property_valuation: string (nullable = true)
 |-- Rank: string (nullable = true)
 |-- Value: string (nullable = true)

In [12]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)

In [13]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

final_struct = StructType(fields=data_schema)

In [14]:
df.na.drop().show()

+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
|first_name|   last_name|gender|past_3_years_bike_related_purchases|       DOB| _c5|Age|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|tenure|             address|postcode|state|  country|property_valuation|Rank|   Value|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
|   Chickie|     Brister|  Male|                                 86|12-07-1957|1957| 64|     General Manager|        Manufacturing|    Mass Customer|                 N|     Yes|    14|    45 Shopko Center|    4500|  QLD|Australia|                 6|   1| 1.71875|
|     Morly|      Genery|  Male|                                 69|12-07-1958|1958| 63| Structural Engineer|             Property|    Mass Customer|                 N|      No|    16|   14 Mccormick Park|    2113|  NSW|Australia|                11|   1| 1.71875|
|   Ardelis|   Forrester|Female|                                 10|12-07-1959|1959| 62|Senior Cost Accou...|   Financial Services|Affluent Customer|                 N|      No|    10| 5 Colorado Crossing|    3505|  VIC|Australia|                 5|   1| 1.71875|
|    Lucine|       Stutt|Female|                                 64|12-07-1960|1960| 61|Account Represent...|        Manufacturing|Affluent Customer|                 N|     Yes|     5|  207 Annamark Plaza|    4814|  QLD|Australia|                 1|   4|1.703125|
|   Melinda|      Hadlee|Female|                                 34|12-07-1961|1961| 60|   Financial Analyst|   Financial Services|Affluent Customer|                 N|      No|    19|   115 Montana Place|    2093|  NSW|Australia|                 9|   4|1.703125|
|     Druci|     Brandli|Female|                                 39|12-07-1962|1962| 59|Assistant Media P...|        Entertainment|   High Net Worth|                 N|     Yes|    22|89105 Pearson Ter...|    4075|  QLD|Australia|                 7|   6|1.671875|
|  Rutledge|       Hallt|  Male|                                 23|12-07-1963|1963| 58|Compensation Analyst|   Financial Services|    Mass Customer|                 N|      No|     8|   7 Nevada Crossing|    2620|  NSW|Australia|                 7|   6|1.671875|
|    Nancie|        Vian|Female|                                 74|12-07-1964|1964| 57|Human Resources A...|               Retail|    Mass Customer|                 N|     Yes|    10|    85 Carioca Point|    4814|  QLD|Australia|                 5|   8| 1.65625|
|      Duff|   Karlowicz|  Male|                                 50|12-07-1965|1965| 56|  Speech Pathologist|        Manufacturing|    Mass Customer|                 N|     Yes|     5|      717 West Drive|    2200|  NSW|Australia|                10|   8| 1.65625|
|   Barthel|      Docket|  Male|                                 72|12-07-1966|1966| 55|Accounting Assist...|                   IT|    Mass Customer|                 N|     Yes|    17|80 Scofield Junction|    4151|  QLD|Australia|                 5|  10|1.640625|
|  Rockwell|      Matson|  Male|                                 94|12-07-1967|1967| 54|Programmer Analyst I|               Retail|   High Net Worth|                 N|      No|     3|  3682 Crowley Point|    4573|  QLD|Australia|                 6|  10|1.640625|
|   Wheeler|     Winward|  Male|                                 48|12-07-1968|1968| 53|Environmental Spe...|        Manufacturing|    Mass Customer|                 N|      No|    10| 3 Golden Leaf Point|    3216|  VIC|Australia|                 8|  12|   1.625|
|     Melba|    Spellacy|Female|                                 38|12-07-1970|1970| 51|        VP Marketing|               Health|    Mass Customer|                 N|      No|     4|0591 Anzinger Circle|    2232|  NSW|Australia|                10|  14| 1.59375|
|    Mandie|      Feares|Female|                                 32|12-07-1971|1971| 50| Clinical Specialist|               Health|    Mass Customer|                 N|      No|    10|      39 Kedzie Pass|    4053|  QLD|Australia|                 8|  14| 1.59375|
|  Marcelia|   Monkleigh|Female|                                 61|12-07-1973|1973| 48| Associate Professor|        Manufacturing|    Mass Customer|                 N|     Yes|     4|  610 Swallow Street|    4051|  QLD|Australia|                 6|  17|1.546875|
| Winnifred|Beswetherick|Female|                                 83|12-07-1974|1974| 47|             Actuary|   Financial Services|    Mass Customer|                 N|      No|    14|       61 4th Street|    3040|  VIC|Australia|                10|  17|1.546875|
|    Odilia|       Quick|Female|                                 65|09-11-1938|1938| 83|     General Manager|        Manufacturing|Affluent Customer|                 N|     Yes|    11|    1550 Russell Way|    2222|  NSW|Australia|                11|  19| 1.53125|
|     Karly|   Willavize|Female|                                  2|12-08-1954|1954| 67|    Internal Auditor|        Manufacturing|   High Net Worth|                 N|      No|    12|     193 North Point|    2190|  NSW|Australia|                10|  19| 1.53125|
|    Teddie|    Burchill|  Male|                                 11|21-12-1968|1968| 53|        Programmer I|        Manufacturing|    Mass Customer|                 N|     Yes|    13|     321 Raven Plaza|    2161|  NSW|Australia|                 9|  21|1.515625|
|    Gaston|   Dallaghan|  Male|                                 44|29-09-1993|1993| 28|   Financial Analyst|   Financial Services|    Mass Customer|                 N|     Yes|     8|   656 Fuller Street|    2783|  NSW|Australia|                 7|  21|1.515625|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
only showing top 20 rows

In [15]:
df.count()

1000

In [17]:
df.na.drop().count()

852

In [18]:
df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- past_3_years_bike_related_purchases: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- job_industry_category: string (nullable = true)
 |-- wealth_segment: string (nullable = true)
 |-- deceased_indicator: string (nullable = true)
 |-- owns_car: string (nullable = true)
 |-- tenure: string (nullable = true)
 |-- address: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- property_valuation: string (nullable = true)
 |-- Rank: string (nullable = true)
 |-- Value: string (nullable = true)

In [19]:
df.select('age').show()

+---+
|age|
+---+
| 64|
| 63|
| 62|
| 61|
| 60|
| 59|
| 58|
| 57|
| 56|
| 55|
| 54|
| 53|
| 52|
| 51|
| 50|
| 49|
| 48|
| 47|
| 83|
| 67|
+---+
only showing top 20 rows

In [20]:
ageColumn = df.select('age')

ageColumn.show()

+---+
|age|
+---+
| 64|
| 63|
| 62|
| 61|
| 60|
| 59|
| 58|
| 57|
| 56|
| 55|
| 54|
| 53|
| 52|
| 51|
| 50|
| 49|
| 48|
| 47|
| 83|
| 67|
+---+
only showing top 20 rows

In [21]:
df.withColumn('double_age',df['age']*2).show()

+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+----------+
|first_name|   last_name|gender|past_3_years_bike_related_purchases|       DOB| _c5|Age|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|tenure|             address|postcode|state|  country|property_valuation|Rank|   Value|double_age|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+----------+
|   Chickie|     Brister|  Male|                                 86|12-07-1957|1957| 64|     General Manager|        Manufacturing|    Mass Customer|                 N|     Yes|    14|    45 Shopko Center|    4500|  QLD|Australia|                 6|   1| 1.71875|     128.0|
|     Morly|      Genery|  Male|                                 69|12-07-1958|1958| 63| Structural Engineer|             Property|    Mass Customer|                 N|      No|    16|   14 Mccormick Park|    2113|  NSW|Australia|                11|   1| 1.71875|     126.0|
|   Ardelis|   Forrester|Female|                                 10|12-07-1959|1959| 62|Senior Cost Accou...|   Financial Services|Affluent Customer|                 N|      No|    10| 5 Colorado Crossing|    3505|  VIC|Australia|                 5|   1| 1.71875|     124.0|
|    Lucine|       Stutt|Female|                                 64|12-07-1960|1960| 61|Account Represent...|        Manufacturing|Affluent Customer|                 N|     Yes|     5|  207 Annamark Plaza|    4814|  QLD|Australia|                 1|   4|1.703125|     122.0|
|   Melinda|      Hadlee|Female|                                 34|12-07-1961|1961| 60|   Financial Analyst|   Financial Services|Affluent Customer|                 N|      No|    19|   115 Montana Place|    2093|  NSW|Australia|                 9|   4|1.703125|     120.0|
|     Druci|     Brandli|Female|                                 39|12-07-1962|1962| 59|Assistant Media P...|        Entertainment|   High Net Worth|                 N|     Yes|    22|89105 Pearson Ter...|    4075|  QLD|Australia|                 7|   6|1.671875|     118.0|
|  Rutledge|       Hallt|  Male|                                 23|12-07-1963|1963| 58|Compensation Analyst|   Financial Services|    Mass Customer|                 N|      No|     8|   7 Nevada Crossing|    2620|  NSW|Australia|                 7|   6|1.671875|     116.0|
|    Nancie|        Vian|Female|                                 74|12-07-1964|1964| 57|Human Resources A...|               Retail|    Mass Customer|                 N|     Yes|    10|    85 Carioca Point|    4814|  QLD|Australia|                 5|   8| 1.65625|     114.0|
|      Duff|   Karlowicz|  Male|                                 50|12-07-1965|1965| 56|  Speech Pathologist|        Manufacturing|    Mass Customer|                 N|     Yes|     5|      717 West Drive|    2200|  NSW|Australia|                10|   8| 1.65625|     112.0|
|   Barthel|      Docket|  Male|                                 72|12-07-1966|1966| 55|Accounting Assist...|                   IT|    Mass Customer|                 N|     Yes|    17|80 Scofield Junction|    4151|  QLD|Australia|                 5|  10|1.640625|     110.0|
|  Rockwell|      Matson|  Male|                                 94|12-07-1967|1967| 54|Programmer Analyst I|               Retail|   High Net Worth|                 N|      No|     3|  3682 Crowley Point|    4573|  QLD|Australia|                 6|  10|1.640625|     108.0|
|   Wheeler|     Winward|  Male|                                 48|12-07-1968|1968| 53|Environmental Spe...|        Manufacturing|    Mass Customer|                 N|      No|    10| 3 Golden Leaf Point|    3216|  VIC|Australia|                 8|  12|   1.625|     106.0|
|      Olag|        null|  Male|                                 60|12-07-1969|1969| 52|Human Resources M...|   Telecommunications|    Mass Customer|                 N|      No|     9|   0484 North Avenue|    2032|  NSW|Australia|                11|  13|1.609375|     104.0|
|     Melba|    Spellacy|Female|                                 38|12-07-1970|1970| 51|        VP Marketing|               Health|    Mass Customer|                 N|      No|     4|0591 Anzinger Circle|    2232|  NSW|Australia|                10|  14| 1.59375|     102.0|
|    Mandie|      Feares|Female|                                 32|12-07-1971|1971| 50| Clinical Specialist|               Health|    Mass Customer|                 N|      No|    10|      39 Kedzie Pass|    4053|  QLD|Australia|                 8|  14| 1.59375|     100.0|
|     Dukie|       Swire|  Male|                                 88|12-07-1972|1972| 49|                null|        Manufacturing|Affluent Customer|                 N|     Yes|     5|   64 Granby Parkway|    2500|  NSW|Australia|                 8|  16|  1.5625|      98.0|
|  Marcelia|   Monkleigh|Female|                                 61|12-07-1973|1973| 48| Associate Professor|        Manufacturing|    Mass Customer|                 N|     Yes|     4|  610 Swallow Street|    4051|  QLD|Australia|                 6|  17|1.546875|      96.0|
| Winnifred|Beswetherick|Female|                                 83|12-07-1974|1974| 47|             Actuary|   Financial Services|    Mass Customer|                 N|      No|    14|       61 4th Street|    3040|  VIC|Australia|                10|  17|1.546875|      94.0|
|    Odilia|       Quick|Female|                                 65|09-11-1938|1938| 83|     General Manager|        Manufacturing|Affluent Customer|                 N|     Yes|    11|    1550 Russell Way|    2222|  NSW|Australia|                11|  19| 1.53125|     166.0|
|     Karly|   Willavize|Female|                                  2|12-08-1954|1954| 67|    Internal Auditor|        Manufacturing|   High Net Worth|                 N|      No|    12|     193 North Point|    2190|  NSW|Australia|                10|  19| 1.53125|     134.0|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+----------+
only showing top 20 rows

In [22]:
df.createOrReplaceTempView('people')

In [23]:
results = spark.sql("SELECT * FROM people")

In [24]:
results = spark.sql("SELECT age FROM people WHERE age >= 19")
results.show()

+---+
|age|
+---+
| 64|
| 63|
| 62|
| 61|
| 60|
| 59|
| 58|
| 57|
| 56|
| 55|
| 54|
| 53|
| 52|
| 51|
| 50|
| 49|
| 48|
| 47|
| 83|
| 67|
+---+
only showing top 20 rows

In [25]:
df.na.drop(how="all").show()

+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
|first_name|   last_name|gender|past_3_years_bike_related_purchases|       DOB| _c5|Age|           job_title|job_industry_category|   wealth_segment|deceased_indicator|owns_car|tenure|             address|postcode|state|  country|property_valuation|Rank|   Value|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
|   Chickie|     Brister|  Male|                                 86|12-07-1957|1957| 64|     General Manager|        Manufacturing|    Mass Customer|                 N|     Yes|    14|    45 Shopko Center|    4500|  QLD|Australia|                 6|   1| 1.71875|
|     Morly|      Genery|  Male|                                 69|12-07-1958|1958| 63| Structural Engineer|             Property|    Mass Customer|                 N|      No|    16|   14 Mccormick Park|    2113|  NSW|Australia|                11|   1| 1.71875|
|   Ardelis|   Forrester|Female|                                 10|12-07-1959|1959| 62|Senior Cost Accou...|   Financial Services|Affluent Customer|                 N|      No|    10| 5 Colorado Crossing|    3505|  VIC|Australia|                 5|   1| 1.71875|
|    Lucine|       Stutt|Female|                                 64|12-07-1960|1960| 61|Account Represent...|        Manufacturing|Affluent Customer|                 N|     Yes|     5|  207 Annamark Plaza|    4814|  QLD|Australia|                 1|   4|1.703125|
|   Melinda|      Hadlee|Female|                                 34|12-07-1961|1961| 60|   Financial Analyst|   Financial Services|Affluent Customer|                 N|      No|    19|   115 Montana Place|    2093|  NSW|Australia|                 9|   4|1.703125|
|     Druci|     Brandli|Female|                                 39|12-07-1962|1962| 59|Assistant Media P...|        Entertainment|   High Net Worth|                 N|     Yes|    22|89105 Pearson Ter...|    4075|  QLD|Australia|                 7|   6|1.671875|
|  Rutledge|       Hallt|  Male|                                 23|12-07-1963|1963| 58|Compensation Analyst|   Financial Services|    Mass Customer|                 N|      No|     8|   7 Nevada Crossing|    2620|  NSW|Australia|                 7|   6|1.671875|
|    Nancie|        Vian|Female|                                 74|12-07-1964|1964| 57|Human Resources A...|               Retail|    Mass Customer|                 N|     Yes|    10|    85 Carioca Point|    4814|  QLD|Australia|                 5|   8| 1.65625|
|      Duff|   Karlowicz|  Male|                                 50|12-07-1965|1965| 56|  Speech Pathologist|        Manufacturing|    Mass Customer|                 N|     Yes|     5|      717 West Drive|    2200|  NSW|Australia|                10|   8| 1.65625|
|   Barthel|      Docket|  Male|                                 72|12-07-1966|1966| 55|Accounting Assist...|                   IT|    Mass Customer|                 N|     Yes|    17|80 Scofield Junction|    4151|  QLD|Australia|                 5|  10|1.640625|
|  Rockwell|      Matson|  Male|                                 94|12-07-1967|1967| 54|Programmer Analyst I|               Retail|   High Net Worth|                 N|      No|     3|  3682 Crowley Point|    4573|  QLD|Australia|                 6|  10|1.640625|
|   Wheeler|     Winward|  Male|                                 48|12-07-1968|1968| 53|Environmental Spe...|        Manufacturing|    Mass Customer|                 N|      No|    10| 3 Golden Leaf Point|    3216|  VIC|Australia|                 8|  12|   1.625|
|      Olag|        null|  Male|                                 60|12-07-1969|1969| 52|Human Resources M...|   Telecommunications|    Mass Customer|                 N|      No|     9|   0484 North Avenue|    2032|  NSW|Australia|                11|  13|1.609375|
|     Melba|    Spellacy|Female|                                 38|12-07-1970|1970| 51|        VP Marketing|               Health|    Mass Customer|                 N|      No|     4|0591 Anzinger Circle|    2232|  NSW|Australia|                10|  14| 1.59375|
|    Mandie|      Feares|Female|                                 32|12-07-1971|1971| 50| Clinical Specialist|               Health|    Mass Customer|                 N|      No|    10|      39 Kedzie Pass|    4053|  QLD|Australia|                 8|  14| 1.59375|
|     Dukie|       Swire|  Male|                                 88|12-07-1972|1972| 49|                null|        Manufacturing|Affluent Customer|                 N|     Yes|     5|   64 Granby Parkway|    2500|  NSW|Australia|                 8|  16|  1.5625|
|  Marcelia|   Monkleigh|Female|                                 61|12-07-1973|1973| 48| Associate Professor|        Manufacturing|    Mass Customer|                 N|     Yes|     4|  610 Swallow Street|    4051|  QLD|Australia|                 6|  17|1.546875|
| Winnifred|Beswetherick|Female|                                 83|12-07-1974|1974| 47|             Actuary|   Financial Services|    Mass Customer|                 N|      No|    14|       61 4th Street|    3040|  VIC|Australia|                10|  17|1.546875|
|    Odilia|       Quick|Female|                                 65|09-11-1938|1938| 83|     General Manager|        Manufacturing|Affluent Customer|                 N|     Yes|    11|    1550 Russell Way|    2222|  NSW|Australia|                11|  19| 1.53125|
|     Karly|   Willavize|Female|                                  2|12-08-1954|1954| 67|    Internal Auditor|        Manufacturing|   High Net Worth|                 N|      No|    12|     193 North Point|    2190|  NSW|Australia|                10|  19| 1.53125|
+----------+------------+------+-----------------------------------+----------+----+---+--------------------+---------------------+-----------------+------------------+--------+------+--------------------+--------+-----+---------+------------------+----+--------+
only showing top 20 rows

In [32]:
import pandas

demographic=pandas.read_csv("customer demographic.csv")
print(demographic.head())
address=pandas.read_csv("customer address.csv")
print(address.head())

merger = pandas.merge(demographic, address, on=['customer_id'])
print(merger.head())

   customer_id      first_name  last_name  gender  \
0            1         Laraine  Medendorp       F
1            2             Eli    Bockman    Male
2            3           Arlin     Dearle    Male
3            4          Talbot        NaN    Male
4            5  Sheila-kathryn     Calton  Female

   past_3_years_bike_related_purchases         DOB               job_title  \
0                                   93  1953/10/12     Executive Secretary
1                                   81  1980/12/16  Administrative Officer
2                                   61   1954/1/20      Recruiting Manager
3                                   33   1961/10/3                     NaN
4                                   56   1977/5/13           Senior Editor

  job_industry_category     wealth_segment deceased_indicator  \
0                Health      Mass Customer                  N
1    Financial Services      Mass Customer                  N
2              Property      Mass Customer                  N
3                    IT      Mass Customer                  N
4                   NaN  Affluent Customer                  N

                                             default owns_car  tenure
0                                                 "'      Yes    11.0
1                       <script>alert('hi')</script>      Yes    16.0
2                                             01-Feb      Yes    15.0
3  () { _; } >_[$($())] { touch /tmp/blns.shellsh...       No     7.0
4                                                NIL      Yes     8.0
   customer_id              address  postcode            state    country  \
0            1   060 Morning Avenue      2016  New South Wales  Australia
1            2  6 Meadow Vale Court      2153  New South Wales  Australia
2            4   0 Holy Cross Court      4211              QLD  Australia
3            5  17979 Del Mar Point      2448  New South Wales  Australia
4            6     9 Oakridge Court      3216              VIC  Australia

   property_valuation
0                  10
1                  10
2                   9
3                   4
4                   9
   customer_id      first_name  last_name  gender  \
0            1         Laraine  Medendorp       F
1            2             Eli    Bockman    Male
2            4          Talbot        NaN    Male
3            5  Sheila-kathryn     Calton  Female
4            6            Curr  Duckhouse    Male

   past_3_years_bike_related_purchases         DOB               job_title  \
0                                   93  1953/10/12     Executive Secretary
1                                   81  1980/12/16  Administrative Officer
2                                   33   1961/10/3                     NaN
3                                   56   1977/5/13           Senior Editor
4                                   35   1966/9/16                     NaN

  job_industry_category     wealth_segment deceased_indicator  \
0                Health      Mass Customer                  N
1    Financial Services      Mass Customer                  N
2                    IT      Mass Customer                  N
3                   NaN  Affluent Customer                  N
4                Retail     High Net Worth                  N

                                             default owns_car  tenure  \
0                                                 "'      Yes    11.0
1                       <script>alert('hi')</script>      Yes    16.0
2  () { _; } >_[$($())] { touch /tmp/blns.shellsh...       No     7.0
3                                                NIL      Yes     8.0
4                                           ?? ? ? ?      Yes    13.0

               address  postcode            state    country  \
0   060 Morning Avenue      2016  New South Wales  Australia
1  6 Meadow Vale Court      2153  New South Wales  Australia
2   0 Holy Cross Court      4211              QLD  Australia
3  17979 Del Mar Point      2448  New South Wales  Australia
4     9 Oakridge Court      3216              VIC  Australia

   property_valuation
0                  10
1                  10
2                   9
3                   4
4                   9

IllegalArgumentException: 'Data type StringType is not supported.'